body{
    background-color: wheat;
    }

/*--------------------Querys--------------------*/
@media only screen and ( max-width: 700px ) {
    body{
        padding-top: 0.5rem;
    }
    .globalContainer{
        border-radius: 15px;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        padding-bottom: 1rem;
    }
    .containerRight{
        flex-direction: row;
        width: auto;
        margin-top: 4rem;
        margin-left: 0.5rem;
        gap: 1rem;
    }
    .containerDescription{
        margin: 0.5rem;
        width: auto;
        height: auto;
        padding-bottom: 1rem;
    }
    .containerName{
        align-self:flex-start;
        height: 10em; 
        padding-top: 01.5rem;
        margin-top: 1rem;
    }
    .containerCenter{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: auto;
        /* margin-left: 0.8rem; */
        padding-top: 3rem;
    }
    .containerContact{
        margin-left: 0.5rem;
        width: 15.5rem;
    }
    .containerInformations{
        justify-content: flex-start;
        width: auto;
    }
    .containerPresentation{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: auto;
        gap: 0.8rem;
    }
    .containerLeft{
        border-radius: 15px;
    }
    .cardImg{
        margin-left: 15px;
    }
    .styleImg{
        width: 6rem;
        height: 6rem;
    }
    .customUnderline{
        margin-left: 1.2rem;
        padding-bottom: 1rem;
    }
    .underlineName{
        width: 8rem;
    }
    #name{
        width: 11rem;
        padding-top: 0.5rem;
        margin-top: -0rem;
        margin-left: 0.6rem;
        font-size: 2rem;
    }
    .title{
        /* margin-left: 3rem; */
        padding-left: 0rem;
    }
    .titleBelow{
        margin-top: 1.5rem;
    }
    .triangle{
        display: none;
    } 
    .references{
        margin-top: 1.3rem;
    }
    .referencesText{
        color: white;
    }
    #referenceGithub{
        margin-bottom: 1rem;
        margin-top: -7rem;
    }
    #referenceLinkedin{
        width: 3rem; 
        height: 3rem;
        margin-top: -3rem;
        margin-bottom: 1rem;
    }
    .stars{
        margin-left: 0.5rem;
    }
    #pText{
        padding-left: 3rem;
    }
}
    
@media only screen and ( min-width: 700px ) {
    body{
        padding-top: 3rem;
    }
    .globalContainer{
        flex-direction: row;
        width: 53rem;
        height: 71.55rem;
        margin-right: 27rem;
        margin-left: 20vw;
    }
    .containerDescription{
        width: 30rem;
        height: 49.52rem;
        padding-bottom: 7.8rem;
        padding-left: 5rem;
        margin-bottom: -6.3rem;
        margin-left: -6rem;
        clip-path: polygon(17% 0%, 100% 0, 100% 91%, 17% 91%);
    }
    .containerName{
        position: absolute;
        height: 10rem;
        width: 42.3rem;
        margin-top: -15.5rem;
        margin-left: 23.25rem ;
        clip-path: polygon(0% 0%, 75.03% 0, 75.03% 100%, 0% 100%);
    }
    .containerRight{
        flex-direction: column;
        width: 7.50rem;
        height: 55.3rem;
        gap: 8rem;
        margin-top: 18.5rem;
        margin-right: -4rem;
        margin-left: -5rem;
        background-color: white;
        clip-path: polygon(66.7% 0, 0% 0%, 0% 96%, 66.7% 96%);
    }
    .containerCenter{
        flex-direction: column;
        width: auto;
        padding-top: 7rem;
        margin-top: -0.5rem;
    }
    .containerLeft{
        margin-top: -0.5rem;
        margin-left: -0.5rem;
        background-color: rgb(43, 43, 43);  
    }
    .containerInformations{
        width: 26rem;
    }
    #marginContainerInformations{
        margin-top: 9rem;
    }
    .customUnderline{
        margin-left: 7.7rem;
        padding-bottom: 6rem;
    }
    .underlineName{
        width: 15rem;
    }
    #name{
        padding-top: 2.3rem;
        margin-top: -0.3rem;
        margin-left: -10rem;
        font-size: 3rem;
    }
    .title{
        margin-left: -8rem;
        margin-top: 5.5rem;
        padding-left: 5rem;
        clip-path: polygon(24% 0%, 105% 0%, 105% 105%, 24% 105%); 
    }
    .titleBelow{
        margin-top: 1.5rem;
    }
    .cardImg{
        margin-left: 4rem;
    }
    .styleImg{
        width: 8rem;
    height: 8rem;
    }
    .referencesText{
        margin-top: 5rem;
        rotate: 90deg;
        color: #333;
    }
    .references{
        gap: 0.5rem;
        margin-top: 8rem;
        padding-right: 2rem;
    }    
    #referenceLinkedin{
        margin-top: -3rem;
        width: 2.5rem; 
        height: 2.5rem;
        margin-bottom: 1rem;
    }
    .desktop{
        display: none;
    }
    .contactLink{
        padding-left: 3rem;
    }
    p{
        padding-left: 3rem;
    }
}  
/*--------------------Querys--------------------*/

/*--------------------Animations--------------------*/
@keyframes rotate {
    0% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
      transform: rotate3d(0, 0, 1, 360deg);
    }
  }
/*--------------------Animations--------------------*/

/*--------------------Containers--------------------*/
.globalContainer{
    display: flex;
    margin-top: -0.5rem;
    background-color: rgb(43, 43, 43);
}

.containerLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;
    font-family: monospace; 
}

.containerCenter{
    display: flex;
    font-family: monospace;
    background-color: rgb(43, 43, 43);
    color: white;
}

.containerRight{
    display: flex;
    border-radius: 30px;
}

.containerDescription{
    text-indent: 2rem;
    padding-top: 1rem;
    background-color : white;
    border-radius: 30px;
}

#marginTopDescription{
    margin-top: 1rem;    
}

.containerCategory{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.containerName{
    align-items: center;
    border-radius: 30px;
    background-color: burlywood;
}

.containerContact{
    display: flex;
    flex-direction: column;
}
/*--------------------Containers--------------------*/

/*--------------------Category Css--------------------*/
.triangle{
    width: 44.8px;
    height: 48px;
    margin-left: -43.2px;
    margin-right: 0px ;
    margin-bottom: -57.6px;
    background-color : rgb(43, 43, 43);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.languages{
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}

#ratingLanguages{
    margin-top: -0.5rem;
}

#spanMargin{
    margin-top: 1.9rem;
    margin-left: 2rem;
}

span{
    margin-top: -0.9rem;
}

.title{
    position: relative;
    width: 17rem;
    height: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
    font-size: 0.9rem;
    font-family: monospace;
    text-shadow:#333 1px 0 10px; 
    color: white;
    background-color: burlywood;
    border-radius: 20px;
}

.stars{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#starSpacing{
    margin-top: 0.1rem;
    letter-spacing: -0.7rem;
}

.passionsLogo{
    display: flex;
    flex-direction: column;
    padding-top: 2.8rem;
    gap: 1.5rem;
}

.marginContact{
    margin:0;
}
/*--------------------Category Css--------------------*/

/*--------------------Description--------------------*/
.customUnderline{
    display: flex;
    flex-direction: row;
    margin-top: -1.3rem;
}

.styleUnderline{
    width: 15rem;
    height: 0.4rem;
    margin-top: -0.7rem;
    margin-left: 3rem;
    border-radius: 5px;
    background-color: rgb(43, 43, 43);
}

.stylePoint{
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
    background-color: rgb(43, 43, 43);
    border-radius: 50%;
}
/*--------------------Description--------------------*/

/*--------------------Profil Picture--------------------*/
.styleImg {
    margin-bottom: 10rem;
    border-radius: 999px;
    border: 5px solid rgb(43, 43, 43);
    background-color: rgb(43, 43, 43);
}

.cardImg{
    position:relative;
    height: 12rem;
    margin-bottom: 3rem;
    padding-top: 4rem;
    padding: 1rem;
    border-radius: 15px;
    clip-path: polygon(49% 75%, 100% 100%, 100% 0, 0 0, 0 100%);
    background-color: burlywood;
}
/*--------------------Profil Picture--------------------*/

/*--------------------Texts--------------------*/
p{
    text-align: left;
    padding-right: 2rem;
    font-size: 1rem;
}

h1{
    text-align: center;
}

.contactLink{
    text-align: left;
    padding-right: 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}
/*--------------------Texts--------------------*/

/*--------------------Name--------------------*/
#name{
    color: white;
    text-shadow:#333 1px 0 10px; 
}

.underlineName{
    height: 0.2rem;
    margin-top: 0.4rem;
    margin-left: 1rem;
    background-color: white;
    box-shadow:#333 1px 0 10px; 
}

.stylePointName{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: white;
    box-shadow:#333 1px 0 10px; 
}

#stylePointLeft{
    margin-right: -1rem;
}
/*--------------------Name--------------------*/

/*--------------------References--------------------*/
.referencesText{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 0.8rem;
}

.referencesImg{
    border-radius: 999px;
    width: 3rem;
    height: 3rem;
    filter:  grayscale(100%);
}

.referencesImg:hover{
    animation: rotate 1.5s normal ease-in-out;
}

.references{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
/*--------------------References--------------------*/